# copy this file to .env and customize
COMPOSE_PROJECT_NAME=changeme
# where Python FastAPI mounts
FASTAPI_PREFIX=/apy
# the following probably need customizing
UID=1000
GID=1000
HTTP_HOSTNAME=changeme.office.spinspire.com

# PocketBase credentials
PB_URL=http://localhost:8090
PB_SUPERUSER_EMAIL=admin@example.com
PB_SUPERUSER_PASSWORD=